*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans Condensed", sans-serif;
}
.main-container{
    height: 100vh;
    max-width: 100vw;
    
}   
header{
    height: 5em;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2rem;
    box-shadow:  0px 0px 12px 1px rgb(184, 184, 184);
    position: fixed;
    width: 100%;
    z-index: 2;
}
header .left-side {
    height: 2rem;
}
header .left-side a img{
    height: 2rem;
}
header .left-side img{
    height: 20em;
}
header .right-side{

}
header .right-side img{
    max-width: 2em;
}

.menu{
    height: 1000px;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    
}
.button-menu{
    padding-top: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-menu button{
    padding: .4em 1.1em;
    font-size: 1.1em;
    border-radius: 25px;
    border: none;
    background-color: transparent;
    color: rgb(75, 75, 75);
    margin: .3em;  
}
.button-menu .coffeeBtn{
    background-color: black;
    color: white;
}
.coffee{
    height: 160px;
    max-width: 100%;
    margin-top: 1em;
    display: flex;
}
.menu-row{
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title p{
    font-size: 1.4em;
    font-weight: 600;
}
.desc{
    font-size: 1em;
}
.price{
    font-weight: 500;
}
.image{
    display: inline-block;
    background-color: rgb(76, 196, 252);
    margin: 1em;
}
.image img{
    height: 8em;   
}
.hot-latte-img img{
    height: 8em;
    padding: 1em;
}
.cappuccino-img img{
    height: 8em;
    padding: 1em;
}
.americano-img img{
    height: 8em;
    padding: 1em;
}
.coffee-second{
    height: 160px;
    max-width: 100%;
    display: flex;
}



.footer-section{
    height: 230px;
    max-width: 100vw;
    margin-top: 8em;
    background-color: rgb(22, 22, 22);
}
footer{
    height: 23vh;
    max-width: 100vw;
    font-size: 1.1em;
}
footer ul a{
    text-decoration: none;
    color: white;
    list-style-type: none;
    padding: .6em;
    padding-top: 1.8em;
   
    
}
footer ul{
    display: flex;
    justify-content: center;
}
footer .copyright{
    display: flex;
    justify-content: center;
}
footer .copyright p{
    color: white;
    font-weight: 200;
}
footer .copyright img{
    
    height: .8em;
    padding-right: .2em;
}
footer .privacy{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
footer .privacy p{
    color: white;
    font-weight: 400;
}
footer .terms{
    display: flex;
    justify-content: center;
    padding-top: .4em;
}
footer .terms p{
    color: white;
    font-weight: 400;
}
footer .loyalty{
    display: flex;
    justify-content: center;
    padding-top: .4em;
}
footer .loyalty p{
    color: white;
    font-weight: 400;
}